:host {

  .charts-card-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
    grid-template-rows: 450px;
    gap: 2rem;
  }

  .chart-card {
  }

  .plotly {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .main-svg {
      box-shadow: var(--box-shadow)
    }

  }

}
